@charset "UTF-8";

table tr td{
	border-collapse: collapse;
}
#myMovieDiv {
	margin: 0;
	padding: 30px 0;
}

#myMovieDiv .sub_title {
	font-weight: bold;
}
#myMovieDiv .sub_cont {
	color: gray;
	font-size: 1em;
}

/* 맴버십, 포인트 조회 */
#myMoiveTable {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	font-size: 20px;
}
caption {
	text-align: left;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
}
#myMoiveTable tr {
	height: 60px;
}
#myMoiveTable tr:nth-child(1) {
	background-color: lightgray;
}
#myMoiveTable td:nth-child(2) {
	border-left: 1px solid lightgray;
}

#myMovieDiv .box {
	/* border: 1px solid black; */
	box-sizing: border-box;
	padding: 10px;
}
.con1 {
	float: left;
	width: 70%;
}
.con2 {
	float: right;
	width: 30%;
	text-align: right;
}

/* 예매내역 테이블 */
#myReservTable {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	font-size: 20px;
}
#myReservTable tr:nth-child(1) {
	background-color: lightgray;
}

#myReservTable td {
	padding: 10px;
}

/* 정보 관리 테이블 */
#myOtoListTable {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	font-size: 20px;
}

/* 탭메뉴 */
.container{
	width: 100%;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	width: 45%;
	background: #ededed;
}

ul.tabs li.current{
	background: white;
	color: #222;
}

.tab-content{
	display: none;
	/* background: #ededed; */
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
#otoTable {
	width: 100%;
	text-align: center;
}

#otoTable a {
	color: black;
	font-size: 18px;
	text-decoration: none;
}

#otoTable td{
	font-size: 18px;
	padding: 5px;
}

#joinOut {
	text-decoration: none;
	font-size: 1.2em;
}

#otoIsUse{
	padding:2px;
}
/* 여기서 부터 민희가 추가한것 */
#infoTable{
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

#infoTable td{
	padding: 10px;
}
#memberPasswordChk {
	width: 90%;
	margin: 10px;
}
#joinOut {
	float: right;
	font-size: 8px;
}

.container{
	

}
